* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: "Open Sans", sans-serif;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.counter-div {
    width: 40rem;
    border: 1px solid greenyellow;
    background-color: rgb(33, 71, 132);
    padding: 1rem;
    text-align: center;
    color: white;
    border-radius: 12px;
}

.counter-div>* {
    margin-bottom: 2rem;

}

.count {
    font-size: 4rem;
}

.buttons button {
    padding: 1rem;
    margin: 0 1rem;
    font-size: 20px;
    border: none;
    outline: none;
    border-radius: 3px;
    color: white;
    cursor: pointer;

}

button.subtract {
    background-color: red;
}

button.reset {
    background-color: whitesmoke;
    color: black;
}

button.add {
    background-color: green;
}